/* GLOBAL FONT */
@font-face {font-family:Masker ;src: url(https://grandiosebehavior.github.io/asset/MaskerArea-YzJ7a.otf
    );}
@font-face {font-family: Pixel;src: url(https://grandiosebehavior.github.io/asset/PixelDigivolve-mOm9.ttf);}
@font-face {font-family: Suess;src: url(https://grandiosebehavior.github.io/asset/Suessfont-G38Z.ttf);}
@font-face {font-family: Square;src: url(https://grandiosebehavior.github.io/asset/SquareThings-xL2V.ttf);}
/* GLOBAL LAYOUT */    
*{outline:0;border:0;margin:0;padding:0;box-sizing:border-box;cursor: url('https://grandiosebehavior.github.io/portfolio/window.cur'), auto;}
body{background-color:rgb(49, 50, 47);color:white;font-family:serif;letter-spacing:.1rem;width:100%;background-image: url(https://github.com/GrandioseBehavior/asset/blob/main/checkered.png?raw=true);background-repeat: no-repeat;background-size:cover;background-position: center;height:500px;}

/* NOTEPAD WINDOW COMPONENTS */
.main{margin-top:10px;width:60%;margin-left:20px;border-left:2px solid grey;border-radius:5px;box-shadow: 0 0 9px black;5}

/* TITLEBAR */
    .menubar{color:white;height:30px;background: linear-gradient(90deg,#011590 30%,#2B64B6);overflow:hidden;padding:0;border-left:6px solid #C0C0C0;border-right:6px solid #C0C0C0;border-top:3px solid #fff;display:flex;flex-direction:row;justify-content: space-evenly;padding-left:10px;width:100%,margin:0;align-items:center;justify-content:inherit;min-width:50px;white-space: nowrap;}
    .wintitle{display:flex;color:white;width:60;letter-spacing: .7px;}
    .wintitle > b {color:white}
    .filename{display:flex;justify-content:flex-start;align-items:center;padding-left:10px;margin-right:auto;color:white;letter-spacing:.7px}
    
    /* TITLEBAR BUTTONS */
        .winbtn{margin:0;display:flex;align-items:flex-end;justify-content:flex-end;align-items:center;min-width:79.5px;max-width:79.5px;font-weight:bold;height:20px;padding-right:2px;}
        .winbtnmini{color:black;background-color:#C0C0C0;display:flex;justify-content:center;align-items:center;border-left:2px solid white;border-top:2px solid white;border-bottom:2px solid grey;border-right:2px solid grey;height:20px;width:20px;text-align:center;box-shadow:0 0 2px 1px grey;font-size:1rem;font-weight:bold;padding-bottom:3.5px;} 
        .winbtnmax{color:black;background-color:#C0C0C0;display:flex;justify-content:center;align-items:center;height:100%;width:20px;text-align:center;border-left:2px solid white;border-top:2px solid white;border-bottom:2px solid grey;border-right:2px solid grey;box-shadow:0 0 2px 1px grey;font-family:Square;font-size:.7rem;padding-left:1.5px;}
        .winbtnexit{color:black;background-color:#C0C0C0;display:flex;justify-content:center;align-items:center;border-left:2px solid white;border-top:2px solid white;border-bottom:2px solid grey;border-right:2px solid grey;height:100%;width:20px;text-align:center;box-shadow:0 0 2px 1px grey;padding-top:3px;padding-left:2px;} 

/* INNER WINDOW */
    .innerw{width:100%;margin:0;display:flex;justify-content: inherit;overflow:hidden;flex-direction:row;border-right:6px solid #C0C0C0;padding:0;}
    .header{white-space: nowrap;padding:1.5rem 0 1.5rem;margin-right:auto;width:97.8%;background-color:black;border-left:6px solid #C0C0C0;border-top:3px solid #C0C0C0;border-right:3px solid #C0C0C0;border-bottom:6px solid #C0C0C0;white-space: nowrap;height:400px;overflow:hidden;display:inline-block;}
    
    /* INNER WINDOW TEXT */
        .web {font-family:Pixel;font-size:1.5rem;text-indent:4rem;white-space:nowrap;padding-bottom:1rem;margin-right:auto;overflow:hidden;}
        .indent{margin-left:auto;width:250px}
        .h{display:flex;justify-content:center;margin-left:0;overflow:hidden;}
        .he1, .he2{font-family:Pixel;font-size:1.5rem;display:flex;justify-content:flex-start;align-items:center;margin-right:auto;}
        .he1{text-indent:7rem;}
        .name{font-family:Suess;font-size:3.5rem;text-align:center;color: rgb(123,255,0);padding-left:15px;padding-right:15px;white-space:nowrap;margin-right:auto;}
        .p{display:flex;justify-content:center;white-space: nowrap;padding-top:1rem;overflow:hidden;}
        .p1, .p2{font-family:Pixel;font-size:1.5rem;padding:0;margin:0;display:flex;justify-content:flex-start;align-items:center;margin-right:auto;}
        .p1{text-indent:10rem;}
        .title{font-family:Masker;line-height:3rem;font-size:2rem;padding-left:15px;padding-right:15px;margin-right:auto;}
        .last{font-family:Pixel;font-size:1.5rem;text-indent:4rem;margin-left:auto;padding-top:3rem;}
        b{color:rgb(191, 0, 255)}

/* SCROLLBAR */
    .scroll{width:100%;margin:0;display:flex;justify-content: inherit;align-items: center;min-width:20px;max-width:20px;background-color: #C0C0C0;border-top:3px solid #C0C0C0;border-bottom:3px solid #C0C0C0;width:2.4%;width:2.3%;display:inline-block;}
    .scrollbar{display:flex;justify-content: inherit;background-color: #C0C0C0;border:2px solid grey;height:391px;}

    /* ARROW BUTTON */
        .arrow{width:100%;margin:0;display:flex;display:flex;flex-direction:column;justify-content:space-between;align-items: center;}
        .up{border-left:2px solid white;border-top:2px solid white;border-bottom:2px solid grey;border-right:2px solid grey;box-shadow:0 0 2px 1px grey}
        .down{border-left:2px solid white;border-top:2px solid white;border-bottom:2px solid grey;border-right:2px solid grey;box-shadow:0 0 2px 1px grey;}

/* ADDITIONAL FRAME BORDER */
    .windowb{width:100%;margin:0;height:3px;background-color:grey;border-right:6px solid grey;}


/* DESKTOP ICONS */
.desktopicons{width:100%; position:absolute;display:flex;justify-content: space-evenly;align-items:center;flex-direction:column;margin:-380px;height:460px;margin-left:auto;z-index:-1}
.folder{width:100%;
display:flex;justify-content: end;align-items:center;height:50px;padding-right:25px;padding-top:5px;}
    .fname{font-family:sans-serif;font-size:.7rem;display:flex;justify-content: end;align-items:center;margin-left:auto;padding-right:23.5px;text-shadow:1px 1px black;padding-bottom:10px}
.paddesk{width:100%;
    display:flex;justify-content: end;align-items:center;height:50px;padding-right:32px;padding-top:5px}
    .ndname{font-family:sans-serif;font-size:.7rem;display:flex;justify-content: end;align-items:center;margin-left:auto;text-shadow:1px 1px black;padding-right:24.5px;padding-bottom:10px}
.games{width:100%;display:flex;justify-content:end;padding-right:25.5px;margin-top:;align-items:center;padding-top:5px;}
    .gname{font-family:sans-serif;display:flex;justify-content:end;align-items:center;font-size:.7rem; margin-left:auto;padding-right:30.5px;text-shadow:1px 1px black;padding-bottom:5px;margin-top:-2px;}
.cmd{width:100%;display:flex;justify-content: end;height:50px;align-items:center;padding-right:30.5px;padding-top:5px;}
    .cname{font-family:sans-serif;display:flex;justify-content: end;align-items: center;font-size:.7rem;width: 100%;margin-left:auto;text-align:center;padding-right:22px;text-shadow:1px 1px black;padding-bottom:10px;margin-top:-6px;}
.bin{width:100%;
display:flex;justify-content:end;padding-right:25.2px;align-items: center;}
    .bname{font-family:sans-serif;display:flex;justify-content: end;align-items: center;font-size:.7rem;margin-left:auto;padding-right:16.7px;text-shadow:1px 1px black;margin-top:-1px}


/* TASKBAR COMPONENTS */
footer{display:flex;position:fixed;bottom:0;width:100%;background-color: #C0C0C0;border-top:3px solid;justify-content: flex-start;align-items: flex-start;flex-direction: column;white-space: nowrap;}
    
/* MINOR TASKBAR DETAILS */
    .divider{position: absolute; background-color: rgb(165, 164, 164);margin-left: 105px; height:33px;display: flex;justify-content: center;align-items: center;width:3px;margin-top:4px;border-left:1px solid rgb(222, 221, 221);white-space: nowrap;}
    .leftbar{position:absolute;background-color:#C0C0C0;width:60%;height:40px;}

/* START MENU */
    /* START BUTTON */
        .drop-down {position:inherit;display:none;margin:0;padding-top:1px;align-items:center; width:inherit;justify-content: flex-start;whitespace:nowrap;max-width:325px;}

    /* INSIDE MENU LOGO */
        .winlogo{background-color:rgb(150, 148, 148);margin:0;padding:0;position:absolute;display:block;width:305px;height:298px;bottom:40px;border:none;white-space: nowrap;border-top:4px solid rgb(150, 148, 148);box-shadow: 0 0 2px 1px grey;border-bottom:5px solid rgb(150, 148, 148)}
            .winstrip{background:linear-gradient(180deg, #2B64B6, #011590 30%); display: inherit;min-height:290.5px;width:52px;position: fixed;z-index:3;bottom:41.2px; white-space: nowrap;border-left:4px solid #C0C0C0;box-shadow:0 0 3px 0px grey;border-top:2px solid white}
            .w98{font-weight:bold;transform: rotate(-90deg);height:100px;left:13px;bottom:60px;position:fixed;z-index: 1;white-space:nowrap;}
        
     #myButton, .btn{background-color:#C0C0C0;margin-left:5px;padding-top:1px;}
      
    /* MENU LINKS */
        #myDropdown, .dropdown-content{font-weight:bold;display:none;position:absolute;bottom:44px; background-color:#C0C0C0;min-width:250px;max-width:250px; white-space:nowrap;margin-left:50px;min-height:246.5px;}
            #myDropdown, .dropdown-content a {color: black;text-decoration:none;display: block;border-top:2px solid white;letter-spacing:normal;width:100%;box-shadow:0 0 1px 2px grey}
            #myDropdown a:hover, .dropdown-content a:hover {background-color: #011590;color:white;}
        .dropdown-content img{padding-left:15px;padding-top:10px;margin-bottom:-28px}
        .dropdown-content p {padding-left:65px;padding-bottom:20px;}
     

/* TASKBAR TABS */
    /* NOTEPAD TAB */
        .tab{display:flex;position:absolute;padding-left:122px;justify-content:center;align-items: center;margin-left:auto;margin-right:auto;height:1px;white-space: nowrap;}
        .notepad{display:flex;position:relative;justify-content:left;align-items: center;background-color:#C0C0C0;height:34px;width:130px;margin-top:40px;border-top:2px solid grey;border-left: 2px solid grey;border-right:2px solid white;border-bottom:2px solid white;font-family:sans-serif;font-size:.9rem;padding-left:5px;color:black;font-weight:bold;padding-top:2px;letter-spacing:.7px;}
        .pad{padding-right:10px;padding-left:2px;padding-bottom:2px;}

    /* PAINT TAB */
        .tab2{display:flex;position:absolute;padding-left:260px;justify-content:center;align-items: center;margin-left:auto;margin-right:auto;height:1px;white-space: nowrap;}
        .paint{display:flex;position:relative;justify-content:left;align-items: center;background-color:#C0C0C0;height:34px;width:130px;margin-top:40px;border-top:2px solid white;border-left: 2px solid white;border-right:2px solid grey;border-bottom:2px solid grey;font-family:sans-serif;font-size:.9rem;padding-left:5px;color:black;font-weight:bold;box-shadow:0 0 2px black;padding-top:3px;letter-spacing: .7px;}
        .pro{padding-right:10px;padding-left:2px;padding-bottom:3px;}

/* RIGHT TASKBAR COMPONENTS */
    /* SYSTEM TRAY */
        .tray{display:flex;justify-content: right; align-items: center;margin-left:auto;margin-right:80px;height:1px;white-space: nowrap;position: relative;}
        .volume, .usb, .search{height:15px;margin-top:40px;padding-left:7px;white-space:nowrap;z-index: -2;}

    /* CLOCK */
        .txt  {color:black;font-size:.8rem;display:flex;justify-content:center;align-items:center;margin-right:5px;min-width:66px;min-height:30px;margin-top:4px;margin-bottom:5px;margin-left:auto;background-color: #bebebc;font-family:sans-serif;letter-spacing:.01px;border-bottom:1.5px solid #fff;border-right:2px solid #fff;border-left:2px solid #8a8a8a;border-top: 1.5px solid #8a8a8a;z-index: -3;}
